body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
}

.bg-image {
    background-image: url(/images/cook-90-tuesday-Delicata-plus-escarole-07122017.jpg);
    height: 400px;
    background-size: cover;
    padding: 0;
    background-position: center top;
    position: relative;
}

h1 {
    text-align: center;
    justify-content: center;
    margin-top: 130px;
    position: absolute;
    left: 35%;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-top: 220px;
    left: 30%;
    font-size: larger;
    font-weight: 550;
}

.navbar ul {
    list-style: none;
    display: inline;
    text-align: right;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    position: sticky;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
    color: white;
}

.navbar li a:hover {
    text-decoration: underline;
    transition: 2ms;
}